<h2>Diary


    <span class="btn-group">    
    	<button type="button" class="btn btn-default" ng-click="openModal()"><span class="glyphicon glyphicon-plus"/><span class='hidden-xs'>Add Row</span></button>    
        <button type="button" class="btn btn-default" ng-click="loadDiary()"><span class="glyphicon glyphicon-upload"/><span class='hidden-xs'> Load CSV</span></button>
        <!-- <button type="button" class="btn btn-default" ng-click="viewCsv()"><span class="glyphicon glyphicon-upload"/><span class='hidden-xs'> View CSV</span></button> -->
        <button type="button" class="btn btn-default" ng-click="downloadCsv()"><span class="glyphicon glyphicon-download"/><span class='hidden-xs'> Download CSV</span></button>

    </span>

</h2>

<div class="form-inline">

    <div class="form-group">
        <label for="filterExc">Filter:</label>
        <select name="selExc" class="form-control" ng-model="table.filter" id="filterExc"
                ng-options="exc.name for exc in table.filterOpts" required></select>
    </div>
</div>

<table class="table table-condensed">
    <thead>
    <tr>
        <th ng-repeat="x in
        [{field:'date',title:'Date'},
        {field:'week',title:'Wk'},
        {field:'excId',title:'Exc'},
        {field:'reps',title:'Reps'},
        {field:'weight',title:'Wt'},
        {field:'oneRm',title:'1RM'}]"
            style="cursor:pointer"
            ng-click="sort(x.field)">{{x.title}}
            <span ng-show="table.sort==x.field" ng-class="table.reverse?'order dropdown':'order dropup'">
                <span class="caret"></span>
            </span>
        </th>

        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="row in settings.diary| filter:table.filter.id| orderBy:table.sort:table.reverse track by $index">

        <td>{{row.date| date:'EEE, MM/dd/yy'}}</td>
        <td>{{row.week}}</td>
        <td>{{exc.map[row.excId].name}}</td>
        <td>{{row.reps}}</td>
        <td>{{row.weight}}</td>
        <td>{{row.oneRm}}</td>
        <td>
            <button class="btn btn-default" ng-click="remove(row)">
                <span class="glyphicon glyphicon-trash"></span>
            </button>
        </td>
    </tr>
    </tbody>
</table>


<!-- Modal -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Add New Entry</h4>
            </div>
            <form name="addForm" ng-submit="addRow()">
                <div class="modal-body">

                    <div class="form-group" ng-class="{'has-error': addForm.date.$dirty && addForm.date.$invalid}">
                        <label for="">Date</label>

                        <div datetimez id='addDate'  class="input-group date" ng-model="modal.date">
                            <input type="text" class="form-control"><span class="input-group-addon"><i
                                class="glyphicon glyphicon-th"></i></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="selWeeknum">5/3/1 Week</label> <select name="selWeekNum" class="form-control"
                                                                           ng-model="modal.week" id="selWeeknum"
                                                                           required>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                    </select>
                    </div>
                    <div class="form-group">
                        <label for="selExc">Exercise</label> <select name="selExc" class="form-control"
                                                                     ng-model="modal.exc" id="selExc"
                                                                     ng-options="exc.name for exc in excOpts"
                                                                     required></select>
                    </div>
                    <div class="form-group" ng-class="{'has-error': addForm.reps.$dirty && addForm.reps.$invalid}">
                        <label for="inputReps">Reps</label> <input type="number" min="1" max="50" id="inputReps"
                                                                   ng-model="modal.reps" name="reps"
                                                                   class="form-control" placeholder="Reps" required>
                    </div>
                    <div class="form-group" ng-class="{'has-error': addForm.weight.$dirty && addForm.weight.$invalid}">
                        <label for="inputWeight">Weight</label> <input type="number" id="inputWeight" min="1" max="2000"
                                                                       ng-model="modal.weight" name="weight"
                                                                       class="form-control" placeholder="Weight"
                                                                       required>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Add</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="row text-center">
    <a class="btn btn-lg btn-primary" href="#/workout">&nbsp;&nbsp;&nbsp;Back&nbsp;&nbsp;&nbsp;</a> <a class="btn btn-lg btn-primary" href="#/chart">&nbsp;&nbsp;&nbsp;Next&nbsp;&nbsp;&nbsp;</a>
</div>

<div class="modal fade" id="diaryLoadModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Load Diary with CSV</h4>
            </div>
            <div class="modal-body">
                <p>You can paste csv in the same format that "View CSV" shows here and click "Load" to overwrite your
                current diary with the contents of the CSV. If there is an error we'll leave your current diary intact.</p>

                <p>General format needs to be:<br/>
                    [bp/ohp/sq/dl],[Date MM/dd/YYYY],[Reps],[Weight],[optional 1RM]</p>
                <p>
                Here's an example week:<br/>
                dl,05/04/2014,1,5,280<br/>
				bp,05/06/2014,1,9,170<br/>
				sq,05/07/2014,1,9,195<br/>
				ohp,05/09/2014,1,9,115<br/>
                </p>
                <textarea class="form-control" rows="12" ng-model="csvDiary.text"></textarea>
                {{csvDiary.msg}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="loadCsvDiary()">Load</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="viewCsvModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Diary in CSV Format</h4>
            </div>
            <div class="modal-body">
                <p>Instructions...</p>
                <textarea class="form-control" rows="12" ng-model="csvModal.csv"></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div><!-- /.modal -->
