<h2>Your Info

     <span class="btn-group">
        <button type="button" class="btn btn-default" ng-click="levelUp()">Level Up <span class="glyphicon glyphicon-arrow-up"></span></button>
        <button type="button" class="btn btn-default" ng-click="levelDown()">Level Down <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span></button>
    </span>
</h2>

<form name="userForm">
	<div class="row" style="margin-left: 5px">
		<div class="col-xs-2 col-lg-1">
			<div class="form-group">
				<label class="control-label">Units</label>
				<div class="input-group">
					<div class="radio">
						<label class="radio-inline"> <input name="i1" ng-change="changeUnits('lbs')" type="radio" ng-model="settings.info.units" value="lbs">Lbs
						</label>
					</div>
					<div class="radio">
						<label class="radio-inline"> <input name="i1" ng-change="changeUnits('kg')" type="radio" ng-model="settings.info.units" value="kg">Kg
						</label>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-2 col-lg-1">
			<div class="form-group">
				<label class="control-label">Sex</label>
				<div class="input-group">
					<div class="radio">
						<label class="radio-inline"> <input name="a1" ng-change="modChart()" type="radio" ng-model="settings.info.sex" value="male">Male
						</label>
					</div>
					<div class="radio">
						<label class="radio-inline"> <input name="a1" ng-change="modChart()" type="radio" ng-model="settings.info.sex" value="female">Female
						</label>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-4">
			<label for="dl1Rm" class=" control-label">Weight</label>
			<div class="input-group">
				<input type="number" min="1" max="2000" ng-change="modChart()" name="personWeight" class="form-control" ng-model="settings.info.weight" placeholder="{{settings.info.units.name}}">

			</div>
		</div>
	</div>

	<p>
		Enter your real or calculated one rep max for each exercise below. This will be used to design your workout program.
        If you've just finished a month of workouts, you can click the "Level Up" button to automatically increase your lifts for the new month.
	</p>

	<div class="form-group" show-errors="true" ng-repeat="exc in exc.list" ng-init="excName = exc.id + '1Rm'" ng-class="{'has-error': userForm.{{excName}}.$dirty && userForm.{{excName}}.$invalid}">
		<label for="dl1Rm" class="col-xs-3 control-label">{{exc.name}}</label>
		<div class="col-xs-9">
			<div class="input-group">
				<input ng-change="modChart()" type="number" min="1" max="2000" name="{{excName}}" class="form-control" ng-model="settings.info.oneRm[exc.id]" placeholder="1RM"> <span
					class="input-group-btn">
					<button class="btn btn-default" type="button" data-ng-click="openModal($event, exc)">
						<span class="glyphicon glyphicon-cog"></span> Calc
					</button>
				</span>
			</div>
			<p ng-show="userForm.{{excName}}.$invalid && !userForm.{{excName}}.$pristine" class="help-block">Specify 1-2000 {{settings.info.units}}. If that's too little for you, ignore this calculator and
				go Godzilla a city instead</p>
		</div>
		<div class="col-xs-3"></div>
		<div class="col-xs-9">
			You can {{exc.name}} a <a style="cursor: pointer;" target="#" ng-click="doYouEvenShow(settings.info.oneRm[exc.id], settings.info.units)">{{doYouEvenLift(settings.info.oneRm[exc.id],
				settings.info.units)}}</a>
		</div>
	</div>

	<table class="table table-condensed">
		<thead>
			<tr>
				<th class="col-xs-3" class="col-lg-1">Exc</th>
				<th>Untr</th>
				<th>Novice</th>
				<th>Int</th>
				<th>Adv</th>
				<th>Elite</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="row in chart" ng-switch>
				<td>{{row.exc.name}}</td>

				<td ng-repeat-start="st in row.standards" ng-if="norm(st)<=settings.info.oneRm[row.exc.id]" class="success">{{norm(st)}}</td>
				<td ng-repeat-end="" ng-if="norm(st)>settings.info.oneRm[row.exc.id]">{{norm(st)}}</td>
			</tr>
		</tbody>
	</table>

    <p>The animal you even lift provided courtesy of <a target="_blank" href="http://whatanimaldoyoulift.herokuapp.com">WhatAnimalDoYouLift.com</a></p>

	<div class="row text-center">
		<a class="btn btn-lg btn-primary" href="#/intro">&nbsp;&nbsp;&nbsp;Back&nbsp;&nbsp;&nbsp;</a> <a class="btn btn-lg btn-primary" href="#/plate">&nbsp;&nbsp;&nbsp;Next&nbsp;&nbsp;&nbsp;</a>
	</div>

</form>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title">{{modal.exc.name}}</h4>
			</div>
			<form id="modalForm" name="oneRmForm" ng-submit="applyModal()" class="form">
				<div class="modal-body">

					<div class="form-group" ng-class="{'has-error': oneRmForm.reps.$dirty && oneRmForm.reps.$invalid}">
						<label for="reps">Reps</label> <input name="reps" type="number" min="1" max="10" class="form-control" id="reps" placeholder="1-10" ng-change="updateModalOneRm()" ng-model="modal.reps" required>
						<p ng-show="oneRmForm.reps.$dirty && oneRmForm.reps.$invalid" class="help-block">Specify 1-10 reps</p>
					</div>
					<div class="form-group" ng-class="{'has-error': oneRmForm.weight.$dirty && oneRmForm.weight.$invalid}">
						<label for="weightRm">Weight</label> <input name="weight" type="number" min="1" max="2000" class="form-control" id="weightRm" placeholder="Weight" ng-change="updateModalOneRm()" ng-model="modal.weight" required>
						<p ng-show="oneRmForm.weight.$dirty && oneRmForm.weight.$invalid" class="help-block">Specify 1-2000 {{units.name}}</p>
					</div>

					<div class="form-group">
						<label for="1rm">1RM</label> {{oneRm(modal.weight, modal.reps)}}<input disabled type="number" class="form-control" placeholder="1RM" ng-model="modal.oneRm">
					</div>
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-primary">Apply</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</form>
		</div>
	</div>
</div>