<h2>Assistance</h2>

<div class="row">
	<div class="col-xs-1"></div>
	<div class="col-xs-11">
		<label class="control-label">Plan</label>
		<div class="input-group">
			<label class="radio-inline"> <input type="radio" ng-change="save(true)" name="program" ng-model="settings.assistance.variant" value="lb">Less Boring
			</label> <label class="radio-inline"> <input type="radio" ng-change="save(true)" name="program" ng-model="settings.assistance.variant" value="bbb">Boring But Big
			</label>
		</div>
		<span id="helpBlock" class="help-block">Boring But Big does your heavy lift and volume work in the same day (5/3/1 Bench, then 5x10 Bench, for example). Less Boring swaps days (5/3/1 Bench,
			the 5 x 10 OHP). Less Boring can be helpful for avoiding DOMS.</span>

		<div ng-repeat="exc in exc.list">
			<label class="control-label">{{exc.name}}</label> <br />
			<div class="form-group">
				<slider ng-change="save(true)" ng-model="settings.assistance.percents[exc.id]" min="30" tooltip="hide" step="5" max="90"></slider>
				<span> {{settings.assistance.percents[exc.id]}}% of working 1RM<br /> Actual 1RM = {{settings.info.oneRm[exc.id]}}<br /> Set = 10 x {{showActualWeight(exc)}} {{settings.info.units}}<br />
					Difficulty: {{programLevelDesc(settings.assistance.percents[exc.id])}}
				</span>

			</div>

		</div>
	</div>
</div>

<div class="row text-center">
	<a class="btn btn-lg btn-primary" href="#/plate">&nbsp;&nbsp;&nbsp;Back&nbsp;&nbsp;&nbsp;</a> <a class="btn btn-lg btn-primary" href="#/workout">&nbsp;&nbsp;&nbsp;Next&nbsp;&nbsp;&nbsp;</a>
</div>