
<h2>Getting Started</h2>
<div class="jumbotron">
	<div class="container">
		<p>You can always use the "Next" and "Back" buttons at the bottom of the page, or the breadcrumbs at the top to navigate around the site.</p>
					

		<p>
			To share data across devices, <a href="#" target="_self" data-ng-click="logon()">logon</a> here or using the header above. This just tells us who you are by your Google account and lets us store
			your workout info in the cloud, we don't get access to any of your personal data other than your email address (which we won't use for anything other than to identify you). If you do this then
			we'll autosave your data every 5 seconds after you update something.
		</p>
		<p>If you'd like a quick screenshot walkthrough, check out this <a href="http://imgur.com/a/fteoL" target="_blank">Imgur gallery</a></p>
		<p>As you get started:
					<ul>
                        <li><a href="#/info" target="_self">Input your 1RM maxes</a> and other info (and we'll tell you where you rank in Strength Standards)</li>
                        <li>Tell us what <a href="#/plate" target="_self">plates</a> you have (so we can help you figure out what to load onto the bar in between sets)</li>
                        <li>Tell us what <a href="#/assistance" target="_self">assistance plan</a> you'd prefer (or just leave the default)</li>
                        <li>Follow the <a href="#/workout" target="_self">workout plan</a> each week (we'll automatically save your AMRAP set to your diary)</li>
                        <li>Check out your <a href="#/diary" target="_self">diary</a> and <a href="#/chart" target="_self">charts</a> of your AMRAP sets to see how you're progressing. You can also upload old workout data or
			manually add workouts that you didn't track on the site. On the diary page you can even download a CSV file of your past workouts to view it in something like Excel.</li>
                    </ul>
                    
                    
		<p>If you're going to take 5/3/1 seriously, you should really <a target="_blank" href="http://www.amazon.com/gp/product/B00AJ8CIQM/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B00AJ8CIQM&linkCode=as2&tag=531calccom-20&linkId=HVFOYO2UGRWH6IWQ">buy the book</a> 
			or its excellent follow-up <a target="_blank" href="http://www.amazon.com/gp/product/1467580309/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=1467580309&linkCode=as2&tag=531calccom-20&linkId=D55X2ILLER2QPCER">Beyond 5/3/1</a>. 
		5/3/1 works really well in a home gym, and if you're looking to outfit a home gym, or just get some accessories to throw in your gym bag, I've got some good suggestions on the <a href="#/equip">Equipment page</a>.
		
		</p>
		
<div class="row text-center">
	<a class="btn btn-lg btn-primary" href="#/info">&nbsp;&nbsp;&nbsp;Next&nbsp;&nbsp;&nbsp;</a>
</div>
	</div>
</div>
