/* app css stylesheet */

.navPillSuccess{
	background-color: #5cb85c;
}

.dl-horizontal dt {
  text-align: left;
  width: auto;
  padding-right: 1em;
}

.dl-horizontal dd {
  margin-left: 0;
}
.headerRow{
  background-color: #f9f9f9
}

.highlighted{
  background-color: yellow !important
}

.adblock{
  padding-right:5px;
  padding-left:5px;
  font-size:18px;
  margin-left:5px;
  text-align:center;
  font-family:Maven Pro,century gothic, arial, helvetica, sans serif;
  background-color:rgb(231, 231, 231);
  border:1px solid #666666;
  border-radius:7px;
  color:rgb(85, 85, 85);;
}

.abplink{
  color:rgb(85, 85, 85);;
}

.adblock-inner-sm{
  width: 320px;
  height:100px;
  text-align:center;
  margin: 0 auto;
}

.adblock-med{
  width: 160px;
  height: 600px;
  padding-top:94px;
}

.adblock-lg{
  width: 300px;
  height: 600px;
  padding-top:94px;
}


.textCenter {text-align: center;}

.btn-margin {
  margin: 2px;
}

.icon-blocks {
    -webkit-border-radius: 0.15em;
    -moz-border-radius: 0.15em;
    -ms-border-radius: 0.15em;
    -o-border-radius: 0.15em;
    border-radius: 0.15em;
    background: #1c94c6;
    color: #fff;
    display: block;
    float: left;
    margin: 0 0.5em 0 0;
    padding: 0.2em;
    position: relative;
    text-align: center;
    width: 1.6em;
}

.icon-blocks.icon-blocks--facebook {
    background: #3b5998;
}
.icon-blocks.icon-blocks--twitter {
    background: #00aced;
}

.icon-blocks.icon-blocks--paypal {
    background-color: #ff9a00;
}

.hidden {
  display: none !important;
  visibility: hidden !important;
}