<div id="fb-root"></div>

<nav class="navbar navbar-default navbar-static-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#/">531 Calc</a>
		</div>
		<div id="navbar" class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				
				<li ng-show="loggedOn && dirty"><a href="#" target="_self" data-ng-click="cloudSave()"><span class="glyphicon glyphicon-save"/> Save</a></li>
				<li ng-show="loggedOn && !dirty"><a href="#" target="_self"><span class="glyphicon glyphicon-saved"/> Saved</a></li>
				<li ng-show="!loggedOn"><a href="#" target="_self" data-ng-click="logon()"><span class="glyphicon glyphicon-user"/>Login</a></li>
				<li><a href="#" target="_self" data-ng-click="showJs()"><span class="glyphicon glyphicon-link"/> Link</a></li>
				<li><a href="#/about"><span class="glyphicon glyphicon-info-sign"/> About</a></li>
				<li><a href="#/equip"><span class="glyphicon glyphicon-bookmark"/> Equipment</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li class="dropdown"><a href="#" target="_self" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span ng-show="snapshotIncludeDiary" class="glyphicon glyphicon-tint"/>Theme: {{cssName}}<span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						<li><a href="#" target="_self" data-ng-click="changeStyle('','//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css')">Default</a></li>
						<li><a href="#" target="_self" data-ng-click="changeStyle('Slate','//maxcdn.bootstrapcdn.com/bootswatch/3.3.4/slate/bootstrap.min.css')">Slate</a></li>
						<li><a href="#" target="_self" data-ng-click="changeStyle('Sandstone','//maxcdn.bootstrapcdn.com/bootswatch/3.3.4/sandstone/bootstrap.min.css')">Sandstone</a></li>
						<li><a href="#" target="_self" data-ng-click="changeStyle('Paper','//maxcdn.bootstrapcdn.com/bootswatch/3.3.4/paper/bootstrap.min.css')">Paper</a></li>
						<li><a href="#" target="_self" data-ng-click="changeStyle('Flatly','//maxcdn.bootstrapcdn.com/bootswatch/3.3.4/flatly/bootstrap.min.css')">Flatly</a></li>
						<li><a href="#" target="_self" data-ng-click="changeStyle('Journal','//maxcdn.bootstrapcdn.com/bootswatch/3.3.4/journal/bootstrap.min.css')">Journal</a></li>
						<li><a href="#" target="_self" data-ng-click="changeStyle('Cosmo','//maxcdn.bootstrapcdn.com/bootswatch/3.3.4/cosmo/bootstrap.min.css')">Cosmo</a></li>
						<li><a href="#" target="_self" data-ng-click="changeStyle('Spacelab','//maxcdn.bootstrapcdn.com/bootswatch/3.3.4/spacelab/bootstrap.min.css')">Spacelab</a></li>
						<li><a href="#" target="_self" data-ng-click="changeStyle('Superhero','//maxcdn.bootstrapcdn.com/bootswatch/3.3.4/superhero/bootstrap.min.css')">Superhero</a></li>
						<li><a href="#" target="_self" data-ng-click="changeStyle('Simplex','//maxcdn.bootstrapcdn.com/bootswatch/3.3.4/simplex/bootstrap.min.css')">Simplex</a></li>
						<li><a href="#" target="_self" data-ng-click="changeStyle('Readable','//maxcdn.bootstrapcdn.com/bootswatch/3.3.4/readable/bootstrap.min.css')">Readable</a></li>
						<li><a href="#" target="_self" data-ng-click="changeStyle('Lumen','//maxcdn.bootstrapcdn.com/bootswatch/3.3.4/lumen/bootstrap.min.css')">Lumen</a></li>
						<li><a href="#" target="_self" data-ng-click="changeStyle('Cyborg','//maxcdn.bootstrapcdn.com/bootswatch/3.3.4/cyborg/bootstrap.min.css')">Cyborg</a></li>
						<li><a href="#" target="_self" data-ng-click="changeStyle('Cerulean','//maxcdn.bootstrapcdn.com/bootswatch/3.3.4/cerulean/bootstrap.min.css')">Cerulean</a></li>
						<li><a href="#" target="_self" data-ng-click="changeStyle('United','//maxcdn.bootstrapcdn.com/bootswatch/3.3.4/united/bootstrap.min.css')">United</a></li>
						<li><a href="#" target="_self" data-ng-click="changeStyle('Darkly','//maxcdn.bootstrapcdn.com/bootswatch/3.3.4/darkly/bootstrap.min.css')">Darkly</a></li>
						<li><a href="#" target="_self" data-ng-click="changeStyle('Yeti','//maxcdn.bootstrapcdn.com/bootswatch/3.3.4/yeti/bootstrap.min.css')">Yeti</a></li>
					</ul></li>
					
				<li ng-show="loggedOn"><a href="#" target="_self" data-ng-click="logoff()"><span class="glyphicon glyphicon-user"/>Logoff ({{user}})</a></li>
			</ul>
		</div>
		<!--/.nav-collapse -->
	</div>
</nav>



<div class="modal fade" id="urlModal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title">
					Snapshot URL <span class="btn-group">
						<button type="button" class="btn btn-default" ng-click="updateSnapshotUrl(true)">
							Include Diary <span ng-show="snapshotIncludeDiary" class="glyphicon glyphicon-ok"></span>
						</button>
						<button type="button" class="btn btn-default" ng-class="snapshotIncludeDiary?'':'active'" ng-click="updateSnapshotUrl(false)">
							Exclude Diary <span ng-show="!snapshotIncludeDiary" class="glyphicon glyphicon-ok"></span>
						</button>
					</span>

				</h4>
			</div>
			<div class="modal-body">
				<p>This link stores a snapshot of all your current settings and diary (if selected). Copy and paste it to share or save your workout settings with someone else or with a different device.</p>

				<p>When clicked, this will replace any current local settings with this snapshot. Beware using this snapshot URL as your regular link to the site, as it will keep overwriting your changes.</p>
				<textarea id="snapshotUrl" class="form-control" rows="12" readonly>{{snapshotUrl}}</textarea>
			</div>
			<div class="modal-footer">

				<button type="button" class="btn btn-default" ng-click="selectSnapshotUrl()">Select Link</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!-- /.modal -->

