@media print {
	.page-break {
		display: block;
		page-break-before: always;
	}
	
	body {
		background: white;
		color: black;
		margin: 0;
		padding: 0;
	}
	
	.printContainer {
		width: auto;
		margin-left: 0;
		margin-right: 0;
	}
}