h1 {
	color: #000;
	background: none;
}

h2, h3 {
	page-break-after: avoid;
}

article {
	page-break-before: always;
}

nav, aside {
	display: none;
}

ul, img {
	page-break-inside: avoid;
}

body, article {
	width: 100%;
	margin: 0;
	padding: 0;
}

@page {
	margin: 2cm;
}

#results th, #results td {
	padding: 5px;
	border: 1px solid black;
}

table.routine{
	width: 23%;
	float: left;
	border-collapse: collapse;
	margin: 2px
}

