<h2>Chart

    <span class="btn-group">
        <button type="button" class="btn btn-default" ng-click="chartType='scatter';drawChart()">Scatter
            <span ng-show="chartType=='scatter'" class="glyphicon glyphicon-ok"></span>
        </button>
        <button type="button" class="btn btn-default" ng-click="chartType='line';drawChart()">Line
            <span ng-show="chartType=='line'" class="glyphicon glyphicon-ok"></span>
        </button>
    </span>

</h2>


    <div id="dlChart"></div>
    <div id="sqChart"></div>
    <div id="bpChart"></div>
    <div id="ohpChart"></div>

<div class="row text-center">
    <a class="btn btn-lg btn-primary" href="#/diary">&nbsp;&nbsp;&nbsp;Back&nbsp;&nbsp;&nbsp;</a>
</div>