<h2>Plates Available</h2>
<p class="help-block">Note: Specify number of *pairs* of plates. So if you have 4 plates, specity 2 pairs.</p>
<form name="userForm" novalidate class="form-horizontal" action="#/assistance">
	<div class="form-group" ng-repeat="w in plates[settings.info.units].common" ng-init="fieldName = 'plate' + w.label" ng-class="{'has-error': userForm.{{fieldName}}.$invalid}">
		<label for="pl{{w.label}}" class="col-xs-3 control-label">{{w.weight}}&nbsp;{{settings.info.units}}</label>
		<div class="col-xs-9">
			<input ng-change="save()" id="pl{{w.label}}" type="number" min="0" max="10" class="form-control" name="{{fieldName}}" ng-model="settings.plates[settings.info.units][w.label]" placeholder="Pairs of plates (0-10)">
			<p ng-show="userForm.{{fieldName}}.$invalid && !userForm.{{fieldName}}.$pristine" class="help-block">
				Specify 0-10 <strong>pairs</strong> of plates.
			</p>
		</div>
	</div>
	<div class="form-group" style="margin-left: 5px">


<!-- 
		<label class="control-label">Plate loading approach</label>
		<div class="input-group">
			<label class="radio-inline"> <input type="radio" ng-change="save()" name="loadStyle" ng-model="settings.loadStyle" value="ocd">OCD
			</label> <label class="radio-inline"> <input type="radio" ng-change="save()" name="loadStyle" ng-model="settings.loadStyle" value="lazy">Lazy
			</label> <span id="helpBlock" class="help-block"> This dictates how you'd like to load your bar for a set of exercises. OCD will always use the largest plates available. Lazy will attempt to
				minimize plate loads through the set, though might look ghetto as hell. </span>
		</div>
		 -->
	</div>
	<div class="row text-center">
		<a class="btn btn-lg btn-primary" href="#/info">&nbsp;&nbsp;&nbsp;Back&nbsp;&nbsp;&nbsp;</a>
		<a class="btn btn-lg btn-primary" href="#/assistance">&nbsp;&nbsp;&nbsp;Next&nbsp;&nbsp;&nbsp;</a>
	</div>
	
</form>