<div class="jumbotron" style="padding: 20px">
	<div class="container">
		<ol class="breadcrumb">
			<li><a href="#/equip#book" target="_self">Books</a></li>
			<li><a href="#/equip#supp" target="_self">Supplements</a></li>
			<li><a href="#/equip#rack" target="_self">Power Racks and Weights</a></li>
			<li><a href="#/equip#mat" target="_self">Mats</a></li>
			<li><a href="#/equip#acc" target="_self">Accessories</a></li>
		</ol>
		<h2>Equipment</h2>
		<p class="help-block" style="font-size: 1.0em; padding: 0px; margin: 0px">Note: Everything with a <span class="glyphicon glyphicon-star"></span>, I've actually bought and used (most of which I'm still using today).</p>

		<h3 id="book">
			<b>Books</b>
		</h3>
		<dl>
			<dt>
				<a href="http://amzn.to/1Lu9nAv" target="_blank">5/3/1 <span class="glyphicon glyphicon-star"></span></a>
			</dt>
			<dd>This is the book that describes the 5/3/1 workout end to end. If you're going to dedicate the time to do this program, I highly suggest you buy and read it.</dd>
			<dt>
				<a href="http://amzn.to/1GPGGe0" target="_blank">Beyond 5/3/1</a>
			</dt>
			<dd>This goes into some variations and extensions on the program and is also very helpful.</dd>
			<dt>
				<a href="http://amzn.to/1BTXEsR" target="_blank">Starting Strength <span class="glyphicon glyphicon-star"></span></a>
			</dt>
			<dd>SS is best known for describing a much more hardcore linear progression workout that can be great for younger beginners. But it also has really valuable biomechanic details on how to
				safely and properly do lifts, along with other general advice. That information is very useful for understanding weak points in your lifts and avoiding injury.</dd>
			<dt>
				<a href="http://amzn.to/1QQlZpZ" target="_blank">Trigger Point Therapy Workbook <span class="glyphicon glyphicon-star"></span></a>
			</dt>
			<dd>
				Before I started 5/3/1 I went too hard on a linear progression program and ended up hurting my back. My doctor confirmed it I didn't have any structural damage, but that didn't change the fact
				that I was in pretty serious pain for several months. After not having much luck with PT, I skeptically tried out this book. A week afterwards I was 90% better, turns out I'd gotten myself nasty
				sore knot of muscle in my mid back that was radiating pain all over the place. Some hard (and painful) massaging with a <a href="http://amzn.to/1LC1W8f" target="_blank">Back Buddy <span class="glyphicon glyphicon-star"></span></a> was all it
				needed. Since then, I've also started regularly using <a href="http://amzn.to/1GPGP0O" target="_blank">nice foam roller <span class="glyphicon glyphicon-star"></span></a> as well. I still get aches and pains from lifting at times, but these
				things have made me able to self-manage and pretty quickly deal with things. DISCLAIMER: If you do hurt yourself, go to your doctor FIRST to make sure it's not something serious, a good massage
				won't fix a herniated disc or a torn ACL.
			</dd>
		</dl>
		<h3 id="supp">
			<b>Supplements</b>
		</h3>
		<p>
			<a href="http://examine.com/" target="_blank">Examine.com</a> is a good source of non-salesy objective analysis of various supplements and vitamins. TL;DR Most aren't worth the money or trouble.
			The two that definitely are worth it are:
		</p>
		<dl>

			<dt>
				<a href="http://amzn.to/1LuOB4p" target="_blank">Creatine <span class="glyphicon glyphicon-star"></span></a>
			</dt>
			<dd>
				The <a href="http://examine.com/supplements/Creatine">article at Examine.com</a> goes into the details, long story short, it's cheap and effective. Just take 5g (basically a teaspoon) of generic
				creatine a day and it should be helpful.
			</dd>
			<dt>
				<a href="http://amzn.to/1Kd4oER" target="_blank">Protein <span class="glyphicon glyphicon-star"></span></a>
			</dt>
			<dd>
				This isn't really a supplement, but plenty of studies have shown that getting at least 1g/kg (or about .5g per lb) of lean body mass helps grow and maintain muscle. Higher protein intake can also
				help keep your total caloric intake down since its typically more filling than carbs. I've enjoyed the various <a href="http://amzn.to/1T68i3Z">Syntrax Nectar</a> options. While they seem marketed
				towards women, I don't mind b/c they're reasonably cheap and taste great.
			</dd>

		</dl>
		<h3 id="rack">
			<b>Power Racks and Weights</b>
		</h3>
		<p>
			These aren't much more expensive or space consuming than their alternatives and they'll help ensure you don't kill yourself while benching or squatting. My only regret when I got mine was that I
			waited as long as I did. If you're looking to save a few bucks or some space a <a href="http://amzn.to/1HeAUpw">half rack</a> is an alternative, but I wouldn't recommend it.
		</p>
		<dl>
			<dt>
				<a href="http://amzn.to/1HeAa3L">PowerLine PPR200X</a>
			</dt>
			<dd>If you're not squatting over 400 lbs this affordable rack should serve you just fine. Depending on deals and shipping it can usually be found for $250-$400.</dd>
			<dt>
				<a href="http://amzn.to/1LuOVjG">Titan HD Power Rack</a>
			</dt>
			<dd>Another affordable alternative, this has several different configurations, some of which include weight racks. It can usually be found for $300-$500 depending.</dd>
			<dt>
				<a href="http://amzn.to/1HeI7Ww">Body Solid GPR378</a>
			</dt>
			<dd>For about $600 you can upgrade to a solid beefier option that's commercial rated for 1000 lbs. If this is too weak for you, you probably already have a sponsor paying for your rack before
				your next powerlifting competition.</dd>
			<dt>Craigslist <span class="glyphicon glyphicon-star"></span></dt>
			<dd>For years I had a perfectly servicable half-rack that I got on CL for $100. I almost purchased one of the above mentioned racks to replace it, but ended up finding another good deal a 
			Tuff Stuff rack at about 25% of retail. Racks age very well, and the main difference between a cheap used rack on CL and an expensive new one in a fitness store is usually cosmetic 
			(and relatively easily refurbished if you care). Your mileage will vary based on how active the used market is in your area, but it's definitely worth checking out.
			</dd>
			
			<dt>Bar and Weights</dt>
			<dd>
				If you're willing to pay for the convenience of shipping, <a href="http://amzn.to/1HeA6kB" target="_blank">Amazon has some of the better deals you'll find on sets</a>. If you're willing to drive
				to the store and have a Dick's or Sports Authority near by, you can usually save some money (shipping 350 lbs of bar and weights can't be cheap). If you REALLY want to save a lot of money, hit up
				your local Craigslist and/or used sporting goods store to find the best deals. Prices vary by region, where I'm at less than 50 cents/lb on used weights is a good deal.
			</dd>
		</dl>
		<h3 id="mat">
			<b>Mats</b>
		</h3>
		<p>Even if you're lifting in a cement basement or garage, a good set of mats will help protect your floor and make your workout more comfortable.</p>
		<dl>
			<dt>
				<a href="http://www.tractorsupply.com/en/store/rubber-horse-stall-mat-4-ft-x-6-ft" target="_blank">Horse Stall Mats <span class="glyphicon glyphicon-star"></span></a>
			</dt>
			<dd>
				These $40 mats from Tractor Supply Company weight 100 lbs each and are the gold standard of home gym flooring. They're cheap, durable and offer great support and floor protection. Downsides? You
				pretty much can't order them online, they're a bit of a pain to transport, and they can stink for weeks or months after you get them (my wife still hasn't quite forgiven me for putting them in).
				If you get these, you can use this <a href="http://amzn.to/1SKJUok" target="_blank">excellent Gorilla Tape</a>
			</dd>
			<dt>
				<a href="http://www.samsclub.com/sams/util-a-mat-commercial-grade-reversible-floor-mats-24-x-24-8-tiles/107930.ip" target="_blank">Sams Club Puzzle Mats <span class="glyphicon glyphicon-star"></span></a>
			</dt>
			<dd>
				I used these for 5 years before upgrading to the horse stall mats above, they're kinda squishy and will mark up, but they're cheap and easy to install. If you don't have a Sams club nearby or just
				want to order online, check out the following alternatives from Amazon: <a href="http://amzn.to/1JoPMSI" target="_blank">Norsk-Stor Puzzle Mats</a>, <a href="http://amzn.to/1LByH8y"
					target="_blank">Cap Barbell Black Puzzle Mat</a>, <a href="http://amzn.to/1LByH8y" target="_blank">Cap Barbell Black Puzzle Mat</a>, <a href="http://amzn.to/1TT3b8A" target="_blank">ProSource
					Puzzle Mat</a>
			</dd>


		</dl>
		<h3 id="acc">
			<b>Accessories</b>
		</h3>
		<dl>
			<dt>
				<a href="http://amzn.to/1FBsVvf" target="_blank">Rings <span class="glyphicon glyphicon-star"></span></a>
			</dt>
			<dd>I didn't think I needed rings for pullups. Then I got Golfer's Elbow. Then I got rings. Now my elbow doesn't hurt anymore. You can mount these on your ceiling or just string them up on
				your pullup bar. I found them to be a much better deal than PT.</dd>

			<dt>
			<a href="http://amzn.to/1R69t5U" target="_blank">Eco Ball Chalk (no cleanup chalk) <span class="glyphicon glyphicon-star"></span></a>
			</dt>
			<dd>
				Chalk significantly improves your grip on the bar. It's key for heavy deadlifts, and can be pretty helpful for really any of your heavy sets. I now use this stuff for every AMRAP set, even for overhead press. 
				I'm told most gyms that ban chalk let you use this. I can say that I like it in my home gym since it doesn't make much a mess in the room or leave much residue behind on my hands.
			</dd>


			<dt>
				<a href="http://amzn.to/1Kd4qfP" target="_blank">Clips <span class="glyphicon glyphicon-star"></span></a>
			</dt>
			<dd>If you're not lifting a ton of weight or doing violent Olympic style motions, you can probably be very pleased with a relatively cheap pair of Olympic spring clips.</dd>

			<dt>
				<a href="http://amzn.to/1dgCd9i" target="_blank">Jump Rope <span class="glyphicon glyphicon-star"></span></a>
			</dt>
			<dd>5/3/1 recommends jump rope before your workout as a warmup and agility exercise. This rope worked well for me.</dd>

			<dt>
				<a href="http://amzn.to/1HhhDlm" target="_blank">Wrist Wraps <span class="glyphicon glyphicon-star"></span></a>
			</dt>
			<dd>Totally optional, these can give you better support during very heavy bench or overhead press. I don't use mine often, but they work well.</dd>

			<dt>
				<a href="http://amzn.to/1FBtjKl" target="_blank">Weight Belt <span class="glyphicon glyphicon-star"></span></a>
			</dt>
			<dd>Serious powerlifters will have very strong opinions about what makes a good or bad weight belt. I grabbed this relatively cheap one and use it occasionally during my heaviest squat/DL/OHP
				sets. I'd probably invest in a nicer one if I used it regularly, but this one has allowed me to relatively cheaply try it out.</dd>

		</dl>
	</div>
</div>
