<h2>
	Workout
	<button type="button" class="btn btn-default" ng-click="printModal()">
		<span class="glyphicon glyphicon-print"></span> Print
	</button>

	<button type="button" class="btn btn-default" ng-click="timerModal()">
		<span class="glyphicon glyphicon-time"></span> Timer
	</button>

</h2>

<ul class="nav nav-pills">
	<li ng-repeat="w in plan.weeks" ng-class="{ active: isWeek($index+1)}"><a href ng-click="setWeek($index+1)">Week {{$index+1}} <span ng-if="isWeekDone(w.weekNum)"
			class="glyphicon glyphicon-ok"></span>
	</a></li>
</ul>
<br />

<div ng-repeat="week in plan.weeks" ng-show="isWeek(week.weekNum)">
	<ul class="nav nav-pills">
		<li ng-repeat="x in exc.list" ng-class="{active: isExc(week.weekNum, x.id)}"><a href ng-click="setExc(week.weekNum, x.id)">{{x.name}} <span ng-if="isDayDone(week.weekNum, x.id)"
				class="glyphicon glyphicon-ok"></span>
		</a></li>
	</ul>
	<br />

	<div ng-repeat="day in week.days" ng-show='isExc(week.weekNum, day.exc.id)'>
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">Week {{week.weekNum}} - {{day.exc.name}}</h3>
			</div>
			<div class="panel-body">
				<b>Warmup - {{day.warmup.exc.name}}</b>

				<div class="btn-toolbar" role="toolbar">

					<button ng-repeat="cSet in day.warmup.sets track by $index" ng-click="excClick(cSet, week.weekNum, day.exc.id, 'warmup',$index+1)" type="button" class="btn btn-margin"
						ng-class="statusClasses[cSet.status]">
						{{cSet.reps}} x {{cSet.weight}} <br /> <span ng-repeat="b in cSet.plates track by $index"><span class="label label-default label-as-badge">{{b}}</span>&nbsp;</span>
					</button>

					<button class="btn btn-default btn-margin" ng-click="showLoadout('Warmup', day.warmup)">
						<span class="glyphicon glyphicon-info-sign"></span><span class='hidden-xs'> Details</span>
					</button>

				</div>

				<div ng-if='week.weekNum!=4'>
					<b>Primary - {{day.primary.exc.name}} </b>

					<div class="btn-toolbar" role="toolbar">
						<span ng-repeat="cSet in day.primary.sets track by $index">
							<button ng-if="cSet.amrap==false" ng-click="excClick(cSet, week.weekNum, day.exc.id,'primary',$index+1)" class="btn btn-margin" ng-class="statusClasses[cSet.status]">
								{{cSet.reps}} x {{cSet.weight}} <br /> <span ng-repeat="b in cSet.plates track by $index"><span class="label label-default label-as-badge">{{b}}</span>&nbsp;</span>
							</button>
							<button ng-if="cSet.amrap==true" ng-click="openModal(cSet)" class="btn btn-margin" ng-class="statusClasses[cSet.status]">
								{{cSet.reps}} x {{cSet.weight}} amrap <br /> <span ng-repeat="b in cSet.plates track by $index"><span class="label label-default label-as-badge">{{b}}</span>&nbsp;</span><span
									class="glyphicon glyphicon-star" aria-hidden="true"> </span>
							</button>
						</span>
						<button class="btn btn-default btn-margin" ng-click="showLoadout('Primary', day.primary)">
							<span class="glyphicon glyphicon-info-sign"></span><span class='hidden-xs'> Details</span>
						</button>
					</div>
				</div>
				<div ng-if='week.weekNum!=4'>
					<b>Assistance - {{day.assistance.exc.name}}</b>

					<div class="btn-toolbar" role="toolbar">
						<button ng-repeat="cSet in day.assistance.sets track by $index" ng-click="excClick(cSet, week.weekNum, day.exc.id, 'assistance',$index+1)" class="btn btn-margin"
							ng-class="statusClasses[cSet.status]">
							{{cSet.reps}} x {{cSet.weight}} <br /> <span ng-repeat="b in cSet.plates track by $index"><span class="label label-default label-as-badge">{{b}}</span>&nbsp;</span>
						</button>
						<button class="btn btn-default btn-margin" ng-click="showLoadout('Assistance', day.assistance, true)">
							<span class="glyphicon glyphicon-info-sign"></span><span class='hidden-xs'> Details</span>
						</button>
					</div>
				</div>

				<b>Complement - {{day.complement.exc.name}}</b>

				<div class="btn-toolbar" role="toolbar">
					<button ng-repeat="cSet in day.complement.sets track by $index" ng-click="excClick(cSet, week.weekNum, day.exc.id, 'complement', $index+1)" class="btn btn-margin"
						ng-class="statusClasses[cSet.status]">{{cSet.reps}}</button>
				</div>

			</div>
		</div>
	</div>
</div>


<div class="row text-center">
	<a class="btn btn-lg btn-primary" href="#/assistance">&nbsp;&nbsp;&nbsp;Back&nbsp;&nbsp;&nbsp;</a> <a class="btn btn-lg btn-primary" href="#/diary">&nbsp;&nbsp;&nbsp;Next&nbsp;&nbsp;&nbsp;</a>
</div>

<!-- Modal -->
<div class="modal fade" id="workoutModal" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title">{{modal.wSet.exc.name}}</h4>
			</div>
			<form id="modalForm" name="oneRmForm" ng-submit="applyModal()" class="form">
				<div class="modal-body">

					<div class="form-group" ng-class="{'has-error': oneRmForm.reps.$dirty && oneRmForm.reps.$invalid}">
						<label for="reps">Reps</label> <input name="reps" type="number" min="0" max="50" class="form-control" id="reps" ng-change="updateModalOneRm()" placeholder="Successful reps" ng-model="modal.reps"
							required>
					</div>

					<div class="form-group">
						<label for="weightRm">Target Reps</label> <input name="targetReps" type="number" disabled class="form-control" ng-model="modal.wSet.reps">
					</div>
					<div class="form-group">
						<label for="weightRm">Weight</label> <input name="weight" type="number" disabled class="form-control" ng-model="modal.wSet.weight">
					</div>
					<div class="form-group">
						<label for="1rm">1RM</label> <input type="number" class="form-control" disabled id="1rm" placeholder="1RM" ng-model="modal.oneRm">
					</div>
					<p ng-show="modal.reps<modal.wSet.reps" class="help-block">Looks like you missed your goal. That's ok, but you're going to want to reset your targets for this lift. So after you finish this
						workout, go back to the Info page and recalculate a new proper 1RM and get back to it! Also make sure you're eating enough and getting enough sleep!</p>
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-primary">Save</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</form>
		</div>
	</div>
</div>

<!-- Plate Modal -->
<div class="modal fade" id="plateModal" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title">{{plateModal.label}} - {{plateModal.setList.exc.name}}</h4>
			</div>
			<div class="modal-body">
				<table class="table">
					<thead>
						<th>Set</th>
						<th>Ideal</th>
						<th>Actual</th>
						<th>Plates</th>
					</thead>
					<tbody>
						<tr ng-repeat="cSet in plateModal.setList.sets track by $index">
							<td>{{$index + 1}}</td>
							<td>{{cSet.idealWeight}}</td>
							<td>{{cSet.weight}}</td>
							<td><span ng-repeat="b in cSet.plates track by $index"><span class="badge">{{b}}</span>&nbsp;</span></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

<!-- Print Modal -->
<div class="modal fade" id="printModal" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title">

					<button type="button" class="btn btn-default" print-div="#printMe">Print</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</h4>
			</div>
			<div class="modal-body">
				<div id='printMe'>

					<article style="width: 100%; margin: 0; padding: 0;">
						<h1>Summary</h1>
						<p>Generated: {{''|currentdate}}</p>
						<table style="margin: 2px; border-collapse: collapse;" border='1'>
							<thead>
								<tr>
									<th style="padding: 3px;">Exercise</th>
									<th style="padding: 3px;">Real 1RM</th>
									<th style="padding: 3px;">Training Max</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td style="padding: 3px;">Deadlift</td>
									<td style="padding: 3px;">{{settings.info.oneRm['dl']}}</td>
									<td style="padding: 3px;">{{settings.info.oneRm['dl'] * .9 | number:0}}</td>
								</tr>
								<tr>
									<td style="padding: 3px;">Squat</td>
									<td style="padding: 3px;">{{settings.info.oneRm['sq']}}</td>
									<td style="padding: 3px;">{{settings.info.oneRm['sq'] * .9 | number:0}}</td>
								</tr>
								<tr>
									<td style="padding: 3px;">Bench Press</td>
									<td style="padding: 3px;">{{settings.info.oneRm['bp']}}</td>
									<td style="padding: 3px;">{{settings.info.oneRm['bp'] * .9 | number:0}}</td>
								</tr>
								<tr>
									<td style="padding: 3px;">Overhead Press</td>
									<td style="padding: 3px;">{{settings.info.oneRm['ohp']}}</td>
									<td style="padding: 3px;">{{settings.info.oneRm['ohp'] * .9 | number:0}}</td>
								</tr>
							</tbody>
						</table>
					</article>

					<article style="width: 100%; margin: 0; padding: 0; page-break-before: always" ng-repeat="week in plan.weeks">
						<h1>Week {{week.weekNum}}</h1>
						<div style="display: inline-block; white-space: nowrap; width: 100%">
							<table ng-repeat="day in week.days" style="width: 23%; float: left; border-collapse: collapse; margin: 2px" border='1'>
								<tbody>
									<tr>
										<th style="padding: 3px;">{{day.exc.name}}</th>
									</tr>
									<tr ng-repeat="cSet in day.warmup.sets">
										<td style="padding: 3px;">{{cSet.reps}}&times;{{cSet.weight}}&nbsp;[<span ng-repeat="b in cSet.plates track by $index">{{b}}{{$last ? '':'&nbsp'}}</span>]
										</td>
									</tr>
									<tr ng-if='week.weekNum!=4' ng-repeat="cSet in day.primary.sets">
										<td style="padding: 3px;">{{cSet.reps}}&times;{{cSet.weight}}&nbsp;[<span ng-repeat="b in cSet.plates track by $index">{{b}}{{$last ? '':'&nbsp'}}</span>]
										</td>
									</tr>
									<tr ng-if='week.weekNum!=4'>
										<th style="padding: 3px;">{{day.assistance.exc.name}}</th>
									</tr>
									<tr ng-if='week.weekNum!=4' ng-repeat="cSet in day.assistance.sets">
										<td style="padding: 3px;">{{cSet.reps}}&times;{{cSet.weight}}&nbsp;[<span ng-repeat="b in cSet.plates track by $index">{{b}}{{$last ? '':'&nbsp'}}</span>]
										</td>
									</tr>
									<tr>
										<th style="padding: 3px;">{{day.complement.exc.name}}</th>
									</tr>
									<tr ng-repeat="cSet in day.complement.sets">
										<td style="padding: 3px;">{{cSet.reps}}</td>
									</tr>





								</tbody>
							</table>
						</div>

					</article>

				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" print-div="#printMe">Print</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Timer Modal -->
<div class="modal fade" id="timerModal" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title">Rest Timer</h4>
			</div>
			<div class="modal-body">
				<div class="form-group">
					<label for="timeSelect">Time</label> <select id="timeSelect" ng-model="settings.timerDuration" ng-change="updateDuration()" class="form-control">
						<option value="5">5 secs</option>
						<option value="30">30 secs</option>
						<option value="60">1 min</option>
						<option value="90">1 min 30 secs</option>
						<option value="120">2 mins</option>
						<option value="150">2 mins 30 secs</option>
						<option value="180">3 mins</option>
					</select>
				</div>
				
				<div class="jumbotron">
				  <h1>{{timer.seconds|eggtimer}}</h1>
				</div>
				<button type="button" class="btn btn-primary btn-block" ng-click='timerToggle()'>{{timer.btnLabel}}</button>
				<button type="button" class="btn btn-default btn-block" ng-click='updateDuration()'>Reset</button>
				<button type="button" class="btn btn-default btn-block" data-dismiss="modal">Close</button>


			</div>
		</div>
	</div>
</div>
</div>